.playercard:nth-child(1) {
    margin-top: 3rem;
}

.playercard {
    margin-top: 1rem;
}

@media screen and (min-width: 1048px) {
    .playercard {
        offset-path: circle(75% at 50% 50%);
        offset-rotate: 0deg;
        offset-distance: -25%;
    }
}